{
  "projects": ["misa-chat-49ff4"],
  "clients": [
    {
      "id": "client-1",
      "secret": "$2b$10$BCrjasbCD09S0HoXwEOJIebGkbru6hRPlg0O2hNbJU8pLNsMT1PfO",
      "scopes": ["misa-chat-49ff4"]
    }
  ],
  "ipWhiteList": [
    
  ],
  "port": 3000
}
